body, p, ul, li, h1, h2, h3, h4{
	font-family: 宋体, "Times New Roman", Serif;
	font-size: 16px;
	margin: 0;
	padding: 0;
	border: none;
}

ul, li{
	list-style: none;
}

a{
	text-decoration: none;
	color: black;
}

.display_none{
	display: none;
}