@import url(base.css);

.news_area{
	margin-top: 20pt;
	margin-bottom: 20pt;
	margin-right: 30pt;
	margin-left: 30pt;
}

.news_block{
	position: relative;
	margin: 5pt;
	height: 500pt;
}

.news_block .news_item{
	position: absolute;
}

.news_block .news_item .news_item_container{
	position: relative;
	margin-left: 5pt;
	margin-right: 5pt;
	height: 100%;
}

.news_block .news_item .news_item_container .news_item_clickable .news_item_image{
	width: 100%;
	height: 60%;
}

.news_block .news_item .news_item_container .news_item_clickable:hover .news_item_image{
	opacity: 0.8;
	width: 100%;
	height: 60%;
}

.news_block .news_item .news_item_container .news_item_clickable .news_item_title{
	color: #5e5e60;
	margin-top: 2pt;
	margin-bottom: 5pt;
}

.news_block .news_item .news_item_container .news_item_clickable:hover .news_item_title{
	color: black;
}

.news_block .news_item .news_item_container .news_item_text{
	font-size: 0.85em;
	color: #5e5e60;
	margin-bottom: 10pt;
}

.news_block .news_item .news_item_container .news_item_stat{
	position: absolute;
	bottom: 10pt;
	font-size: 0.85em;
	border-bottom: 1pt solid grey;
	width: 100%;
}

.news_block .news_item .news_item_container .news_item_stat .news_item_cat{
	color: #d5005f;
}

.news_block .news_item_0{
	width: 40%;
	height: 66.66%;
}

.news_block .news_item_1{
	width: 20%;
	height: 33.33%;
	left: 40%;
}

.news_block .news_item_2{
	width: 20%;
	height: 33.33%;
	left: 60%;
}

.news_block .news_item_3{
	width: 20%;
	height: 33.33%;
	left: 80%;
}

.news_block .news_item_4{
	width: 20%;
	height: 33.33%;
	top: 33.33%;
	left: 40%;
}
