<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="resources/home/css/shop_home.css">
<script type="text/javascript" src="resources/home/js/jquery.js"></script>
<script type="text/javascript" src="resources/home/js/marquee.js"></script>
<title>沧源路</title>
</head>
<script type="text/javascript">

$(document).ready(function(){
	marquee = new $.Marquee(
		[{img:'resources/home/images/sample_large.jpg'},
			{img:'resources/home/images/sample_large_2.jpg'},
			{img:'resources/home/images/sample_large.jpg'},
			{img:'resources/home/images/sample_large.jpg'},
			{img:'resources/home/images/sample_large_2.jpg'}],
		false, 800, 600);
	$('#marquee').replaceWith(marquee.getNode());
});

</script>
<body>
<div id="marquee"></div>
</body>
</html>