@import url(base.css);
@import url(news_pane.css);

.news_more{
	text-align: center;
	background-color: #e4dfd8;
	line-height: 80px;
	cursor: pointer;
}

.news_more .more{
	font-weight: bold;
	font-size: 1.625em;
}
