.marquee_box{
	position: relative;
}

.marquee_box .prev{
	position: absolute;
	left: 100px;
	z-index: 10;
}

.marquee_box .next{
	position: absolute;
	right: 100px;
	z-index: 10;
}

.marquee_box .container{
	position: relative;
	overflow: hidden;
	width: 100%;
	margin-bottom: 10px;
}

.marquee_box .container .slide{
	position: absolute;
	opacity: 1;
	z-index: 0;
}

.marquee_box .thumb_container{
	position: relative;
	width: 100%;
	height: 100px;
	overflow: hidden;
}

.marquee_box .thumb_container .thumb_wrapper{
	position: absolute;
}

.marquee_box .thumb_container .thumb_slide{
	float: left;
	width: 200px;
	height: 100px;
	margin-right: 10px;
	cursor: pointer;
}

.marquee_box .thumb_container .thumb_image{
	width: 100%;
	height: 100%;
}
